<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCV2wHGWXRXHW1nR9O924ji2Ti_ZnTp5g</string>
	<key>GCM_SENDER_ID</key>
	<string>134845785087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-app-67a2a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-67a2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134845785087:ios:1204d0aa2f461254423dca</string>
</dict>
</plist>